<router-outlet></router-outlet>
 
<div style="text-align:center">
 <form #submit="ngForm" (ngSubmit)="val(submit.value)">
    <select  name="select" ngModel>
       <option  *ngFor="let item of countries">
         
          {{item.name}}
          </option>
             </select>
        <button>submit</button>
 </form><br><br><br>
        




   <form #stasubmit="ngForm" (ngSubmit)="state(stasubmit.value)">
      <select  name="select1" ngModel *ngFor="let item of value">
        <option *ngFor="let it of item.states" >
          {{it.name}}
        </option>
      </select> 
      <button>submit</button>   
   </form> 
     
  

   <form #citysubmit="ngForm" (ngSubmit)="cities(citysubmit.value)">
   <select name="select2" ngModel  *ngFor="let item of states">
    <option  *ngFor="let it of item.cities" > 
          {{it.name}}
  
     {{it.code}}
    </option>
  </select> 
  <button>submit</button>   
</form>
 

 {{code}}
</div>